@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

<p>@Html.ValidationMessageFor(model => model.MachineName)</p>
<p>@Html.ValidationMessageFor(model => model.MachineBrand)</p>

@using (Html.BeginForm())
{
  @Html.Label("Machine Name")
  @Html.TextBoxFor(model => model.MachineName)
  @Html.Label("Machine Brand")
  @Html.TextBoxFor(model => model.MachineBrand)

  <input type="submit" value="Add a new machine" class="btn btn-default">
}

<p>@Html.ActionLink("Show list of machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>