@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>

<p>@Html.ValidationMessageFor(model => model.EngineerName)</p>
<p>@Html.ValidationMessageFor(model => model.ContactInfo)</p>

@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.EngineerName)
  @Html.Label("Contact Info")
  @Html.TextBoxFor(model => model.ContactInfo)

  <input type="submit" value="Add a new engineer" class="btn btn-default">
}

<p>@Html.ActionLink("Show list of engineers", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>